.detail_header{
  height: .45rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content:space-between;
  border-bottom: .01rem solid #ccc;
  z-index: 100;
  background-color: #fff;
  .back{
    height:.45rem;
    width:.45rem;
    .fa{
      height:.45rem;
      width:.45rem;
      text-align: center;
      line-height: .45rem;
      font-size: .2rem;
    }
  }
  .nav{
    display:flex;
    li{
      a{
        display: inline-block;
        height:.45rem;
        width:.45rem;
        text-align: center;
        line-height: .45rem;
        font-size: .16rem;
        &.active{
          color:#65A032;
          border-bottom: .02rem solid #65A032;
        }
      }
      }
  }
  .more{
    .fa{
      height:.45rem;
      width:.45rem;
      text-align: center;
      line-height: .45rem;
      font-size: .2rem;
    }
  }
}