.cart{
    header{
        width:100%;
        height: 0.45rem;
        line-height: 0.45rem;
        text-align: center;
        border-bottom : 1px solid #E3E3E3;
        div{
            color: #9FC276;
            font-size: 0.18rem;
        }
    }
    .car-box{
        width: 2.25rem;
        margin: 0 auto;
        text-align: center;
        .car-img{
            width: 2.25rem;
            height: 1.5rem;
            margin: 0 auto;
            margin-top: 1.2rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .go{
            margin-top: 0.2rem;
            font-size: 0.16rem;
            line-height: 0.24rem;
            a{
                font-size: 0.16rem;
                color: #FFB972;
            }
        }
    }
}