.nav-box{
    width: 0.8rem;
    background: #F5F5F5;
    float: left;
    ul{
        li{
            text-align: center;
            height: .48rem;
            width: .78rem;
            line-height: .46rem;
            font-size: .15rem;
            color: #3a3a3a;
            border: .01rem solid #f5f5f5;
            border-right: 0;
            &.active{
                border-left: .02rem solid #65a032;
                color: #65a032;
                background: #fff;
            }
        }
        
    }
}