*{
  box-sizing: border-box;
}
.loading{
  background: url('/images/loading.gif');
  background-size: cover;
  background-repeat: no-repeat;
}
html,body,#root,.app,.mine{
  height: 100%;
  width: 100%;
}