*{
  box-sizing: border-box;
}
.loading{
  background: url('/images/loading.gif');
  background-size: cover;
  background-repeat: no-repeat;
}
.loading2{
  background: url('/images/loading2.gif');
  background-size: contain;
  background-repeat: no-repeat;
}
#root,.app,.mine{
  height: 100%;
  width: 100%;
}