/*全局样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 12px;
	font-family: 微软雅黑;
	color:#666;
	background:$base-bgcolor;
}
a{
	color: #333333;
	text-decoration: none;
}
a:hover{
	color: #c81623;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
}
textarea{
	resize: none;
}
input,a,textarea{
	outline: none;
}
.clearfixed:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}