.Goods_Banner{
  height:3.75rem;
  width:3.75rem;
  .swiper-container{
    height:3.75rem;
    width:3.75rem;
    .swiper-wrapper{
      height:3.75rem;
      .swiper-slide{
        height:3.75rem;
        width:3.75rem;
      }
    }

  }
}